{% extends "base.html" %}
{% block content %}
<h1>Dashboard</h1>
<ul>
  {% for p in problems %}
    <li><a href="{% url 'dashboard:problem_detail' p.id %}">{{ p.title }}</a></li>
  {% empty %}<li>No problems yet.</li>{% endfor %}
</ul>
<h2>Your Submissions</h2>
<ul>
  {% for s in submissions %}
    <li>{{ s.problem.title }} — {{ s.get_status_display }}{% if s.status == 'R' or s.status == 'E' or s.status == 'T' %} (Details: {{ s.verdict_details }}){% endif %} at {{ s.submitted_at }} </li>
  {% empty %}<li>No submissions.</li>{% endfor %}
</ul>
{% endblock %}